<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a [routerLink]="['/employees/employee/list']">
                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Empleados</a>
        </li>
    </ol>
</nav>
<h1 class="page-title"> Lista de empleados </h1>
<hr>


<div class="page-section">
    <!-- .card -->
    <section class="card card-fluid">
        <div class="card-body">
            <div class="form-group">
                <div>
                    <div class="row">
                        <div class="col-10">
                            <input (keyup.enter)="search()" [(ngModel)]="searchText" type="text" class="form-control" placeholder="Búscar empleado">
                        </div>
                        <div class="col-1">
                            <a [routerLink]="['/employees/employee/form']" type="button" class="btn btn-success d-none d-sm-inline-block text-right">+
                                Empleado</a>
                        </div>
                    </div>

                    <!-- /.input-group -->
                </div>
                <!-- /.input-group -->
            </div>
            <div class="table-responsive">
                <!-- .table -->
                <table class="table">
                    <!-- thead -->
                    <thead>
                        <tr>
                            <th colspan="2" style="min-width:320px">
                                Nombres
                            </th>
                            <th> Codigo </th>
                            <th> Posicion </th>
                            <th> Fecha inicio </th>
                            <th> Fecha de cumpleanios </th>
                            <th> Salario total </th>
                            <th style="width:100px; min-width:100px;"> &nbsp; </th>
                        </tr>
                    </thead>
                    <!-- /thead -->
                    <!-- tbody -->
                    <tbody>
                        <!-- tr -->
                        <tr *ngFor="let employee of employees">
                            <td class="align-middle col-checker">
                                <div class="custom-control custom-control-nolabel custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="selectedRow[]" id="p3">
                                    <label class="custom-control-label" for="p3"></label>
                                </div>
                            </td>
                            <td><span>{{employee.employeeName}} {{employee.employeeSurname}}</span></td>
                            <td class="align-middle"> {{employee.employeeCode}} </td>
                            <td class="align-middle"> {{employee.division}}/{{employee.position}} </td>
                            <td class="align-middle"> {{employee.beginDate}} </td>
                            <td class="align-middle"> {{employee.birthday}} </td>
                            <td class="align-middle"> {{employee.totalSalary}} </td>
                            <td class="align-middle text-right">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-sm btn-light" data-toggle="dropdown" aria-expanded="false">
                                      <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-arrow"></div>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a routerLink="/employees/employee/form" [queryParams]="{identification:employee.identificationNumber}" class="dropdown-item">Editar</a>
                                        <a (click)="getEmployeeByGradeAndOffice(employee.grade, employee.office)" class="dropdown-item">Búscar con la misma oficina y grado</a>
                                        <a (click)="getEmployeeByGrade(employee.grade)" class="dropdown-item">Búscar con todas las oficinas y el mismo grado</a>
                                        <a (click)="getEmployeeByGradeAndPosition(employee.grade, employee.position)" class="dropdown-item">Búscar con la misma posición y grado</a>
                                        <a (click)="getEmployeeByGrade(employee.grade)" class="dropdown-item">Búscar con todas las posiciones y el mismo grado</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!-- /tbody -->
                </table>
                <!-- /.table -->
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button (click)="loadMore();" class="btn btn-light btn-block btn-lg">Cargar más...</button>
                </div>
            </div>
        </div>

    </section>
    <!-- /.card -->
</div>