<div [formGroup]="paymentGroup">
    <div class="row">
        <div class="col-3">
            <label>Año / Mes</label>
            <div class="input-group">
                <select class="custom-select" [(ngModel)]="model.year" formControlName="year" [class.is-invalid]="paymentGroup.get('year')?.invalid && paymentGroup.get('year')?.touched">
                <option selected> Seleccionar </option>  
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>                          
                </select>
                <select class="custom-select" [(ngModel)]="model.month" formControlName="month" [class.is-invalid]="paymentGroup.get('month')?.invalid && paymentGroup.get('month')?.touched">
                    <option selected> Seleccionar </option>  
                    <option *ngFor="let month of months" [value]="month">{{month}}</option>                          
                </select>
            </div>
        </div>
        <div class="col-2">
            <label>Salario base</label>
            <div class="form-group">
                <input type="number" [(ngModel)]="model.baseSalary" formControlName="baseSalary" class="form-control text-right" placeholder="Ej. 1500.00" [class.is-invalid]="paymentGroup.get('baseSalary')?.invalid && paymentGroup.get('baseSalary')?.touched">
                <div class="invalid-feedback">La salario base es requerido</div>
            </div>
        </div>
        <div class="col-2">
            <label>Bonus de producción</label>
            <div class="form-group">
                <input type="number" [(ngModel)]="model.productionBonus" formControlName="productionBonus" class="form-control text-right" placeholder="Ej. 150.00" [class.is-invalid]="paymentGroup.get('productionBonus')?.invalid && paymentGroup.get('productionBonus')?.touched">
                <div class="invalid-feedback">El bonus de produccion es requerido</div>
            </div>
        </div>
        <div class="col-2">
            <label>Bonus de compensación</label>
            <div class="form-group">
                <input type="number" [(ngModel)]="model.compensationBonus" formControlName="compensationBonus" class="form-control text-right" placeholder="Ej. 150.00" [class.is-invalid]="paymentGroup.get('compensationBonus')?.invalid && paymentGroup.get('compensationBonus')?.touched">
                <div class="invalid-feedback">La compensacion de bonus es requerido</div>
            </div>
        </div>
        <div class="col-1">
            <label>Comisión</label>
            <div class="form-group">
                <input type="number" [(ngModel)]="model.commission" formControlName="commission" class="form-control text-right" placeholder="Ej. 100.00" [class.is-invalid]="paymentGroup.get('commission')?.invalid && paymentGroup.get('commission')?.touched">
                <div class="invalid-feedback">La comision es requerido</div>
            </div>
        </div>
        <div class="col-2">
            <label>Constribución</label>
            <div class="form-group">
                <input type="number" [(ngModel)]="model.contributions" formControlName="contributions" class="form-control text-right" placeholder="Ej. 100.00" [class.is-invalid]="paymentGroup.get('contributions')?.invalid && paymentGroup.get('contributions')?.touched">
                <div class="invalid-feedback">La contribucion es requerido</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1 text-right">
            <button (click)="handleAddEmployee()" [disabled]="!paymentGroup.valid" type="button" class="btn btn-warning btn-sm btn-rounded">
            + Nuevo Pago
        </button>
        </div>
    </div>
</div>
<br>
<div class="col-12">
    <div class="table-responsive" *ngIf="details.length > 0; else alert">
        <!-- .table -->
        <table class="table">
            <!-- thead -->
            <thead>
                <tr>
                    <th> Año / Mes </th>
                    <th> Salario base </th>
                    <th> Producción </th>
                    <th> Compensación </th>
                    <th> Comisión </th>
                    <th> Contribución </th>
                    <th style="width:100px; min-width:100px;"> &nbsp; </th>
                </tr>
            </thead>
            <!-- /thead -->
            <!-- tbody -->
            <tbody>
                <!-- tr -->
                <tr *ngFor="let detail of details">
                    <td>{{detail.year}} / {{detail.month}}</td>
                    <td>{{detail.baseSalary}}</td>
                    <td>{{detail.productionBonus}}</td>
                    <td>{{detail.compensationBonus}}</td>
                    <td>{{detail.commission}}</td>
                    <td>{{detail.contributions}}</td>
                    <td class="align-middle text-right">
                        <a class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil-alt"></i>
                            <span class="sr-only">Edit</span>
                        </a>
                        <a class="btn btn-sm btn-secondary" (click)="handleDeletePayment(detail)">
                            <i class="far fa-trash-alt"></i>
                            <span class="sr-only">Remove</span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <!-- /tbody -->
        </table>
        <!-- /.table -->
    </div>
    <ng-template #alert>
        <div class="alert alert-warning text-center" role="alert">
            <span>No hay pagos registrados</span>
        </div>
    </ng-template>
</div>