.custom-control {
    position: relative;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #023f75;
}

.custom-control-input:focus~.custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:active~.custom-control-indicator {
    color: #fff;
    background-color: #b3d7ff;
}

.custom-control-input:disabled~.custom-control-indicator {
    background-color: #e9ecef;
}

.custom-control-input:disabled~.custom-control-description {
    color: #868e96;
}

.custom-control-indicator {
    position: absolute;
    /*top: 0.25rem;*/
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    user-select: none;
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-indicator {
    border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-indicator {
    background-color: #023f75;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-indicator {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked~.custom-control-indicator {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-controls-stacked {
    display: flex;
    flex-direction: column;
}

.custom-controls-stacked .custom-control {
    margin-bottom: 0.25rem;
}

.custom-controls-stacked .custom-control+.custom-control {
    margin-left: 0;
}

.custom-control-input:checked~.custom-control-indicator {
    color: #fff;
    background-color: #023f75;
}

.was-validated .custom-control-input:invalid~.custom-control-description,
.custom-control-input.is-invalid~.custom-control-description {
    color: #dc3545;
}

.was-validated .custom-control-input:valid~.custom-control-description,
.custom-control-input.is-valid~.custom-control-description {
    color: #023f75;
}

.form-check-input {
    color: #023f75;
}

.btn.btn-rounded {
    border-radius: 50px;
}