<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a [routerLink]="['/employees/employee/list']">
                <i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Empleados</a>
        </li>
    </ol>
</nav>
<h1 class="page-title" *ngIf="model.id > 0 else create"> Editar empleado </h1>
<ng-template #create>
    <h1 class="page-title"> Nuevo empleado </h1>
</ng-template>
<hr>
<form class="needs-validation" #useForm="ngForm">

    <div [formGroup]="group">
        <div class="d-xl-none">
            <button class="btn btn-danger btn-floated" type="button" data-toggle="sidebar">
            <i class="fa fa-th-list"></i>
          </button>
        </div>
        <!-- .card -->
        <section id="base-style" class="card">

            <div class="card-body border-top">
                <!-- .form -->

                <div class="form-row">
                    <div class="col-md-3 ">
                        <label>Numero de Identificacion
                    <abbr title="Required">*</abbr>
                </label>
                        <h3 *ngIf="model.id > 0 || searchedIdentification; else inputIdentification" class="text-muted">{{model.identificationNumber}}</h3>
                        <ng-template #inputIdentification>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" [(ngModel)]="model.identificationNumber" formControlName="identificationNumber" placeholder="Ej. 3456543459">
                                <div class="input-group-append">
                                    <button (click)="handleGetEmployeeByIdentification();" class="btn btn-outline-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-4">
                        <label>Nombres
                                <abbr title="Required">*</abbr>
                            </label>
                        <input [(ngModel)]="model.employeeName" formControlName="employeeName" type="text" class="form-control" placeholder="Ej. Daniel" [class.is-invalid]="group.get('employeeName')?.invalid && group.get('employeeName')?.touched">
                        <div class="invalid-feedback">El nombre es requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Apellidos
                                <abbr title="Required">*</abbr>
                            </label>
                        <input [(ngModel)]="model.employeeSurname" formControlName="employeeSurname" type="text" class="form-control" placeholder="Ej. Polanco" [class.is-invalid]="group.get('employeeSurname')?.invalid && group.get('employeeSurname')?.touched">
                        <div class="invalid-feedback">El apellido es requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Fecha inicio
                                <abbr title="Required">*</abbr>
                            </label>
                        <input mask="00/00/0000" formControlName="beginDate" [(ngModel)]="model.beginDateString" type="datetime" class="form-control" placeholder="Ej. 01/01/1990" [class.is-invalid]="group.get('beginDate')?.invalid && group.get('beginDate')?.touched">
                        <div class="invalid-feedback">La fecha de inicio es requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Fecha nacimiento
                                <abbr title="Required">*</abbr>
                            </label>
                        <input mask="00/00/0000" [(ngModel)]="model.birthdayString" formControlName="birtday" [class.is-invalid]="group.get('birtday')?.invalid && group.get('birtday')?.touched" type="text" class="form-control" placeholder="Ej. 01/01/1990">
                        <div class="invalid-feedback">La fecha de cumpleano es requerido</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Oficina
                                <abbr title="Required">*</abbr>
                            </label>
                        <select class="custom-select" [(ngModel)]="model.office" formControlName="office" [class.is-invalid]="group.get('office')?.invalid && group.get('office')?.touched">
                                <option value=""> Seleccionar </option>  
                                    <option *ngFor="let office of offices" [value]="office.name">{{office.name}}</option>                          
                            </select>
                        <div class="invalid-feedback">La oficina es requerida</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>División
                                <abbr title="Required">*</abbr>
                            </label>
                        <select class="custom-select" [(ngModel)]="model.division" formControlName="division" [class.is-invalid]="group.get('division')?.invalid && group.get('division')?.touched">
                                <option value=""> Seleccionar </option>  
                                    <option *ngFor="let division of divisions" [value]="division.name">{{division.name}}</option>                          
                            </select>
                        <div class="invalid-feedback">La división es requerida</div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Posicion
                                <abbr title="Required">*</abbr>
                            </label>
                        <select class="custom-select" [(ngModel)]="model.position" formControlName="position" [class.is-invalid]="group.get('position')?.invalid && group.get('position')?.touched">
                                <option value=""> Seleccionar </option>  
                                    <option *ngFor="let position of positions" [value]="position.name">{{position.name}}</option>                          
                            </select>
                        <div class="invalid-feedback">la posición es requerida</div>
                    </div>
                </div>
                <!-- /.form -->
            </div>
            <!-- /.card-body -->
        </section>

        <section class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-10">
                        <h3 class="card-title"> Pagos </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                    </div>
                </div>


                <br>

                <div class="row">
                    <div class="col-12" *ngIf="model.id <= 0 && !searchedIdentification; else validateIdentification">
                        <div class="alert alert-warning text-center" role="alert">
                            <span>Debe valida la identificacion del empleado</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <ng-template #validateIdentification>
                            <app-payment [details]="details"></app-payment>
                        </ng-template>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="row">
        <div class="col-8">
            <button [routerLink]="['/employees/employee/list']" class="btn btn-warning">Volver</button>
        </div>

        <div class="col-4 text-right">
            <button class="btn btn-primary" (click)="handleSave()" [disabled]="!useForm.valid || group.valid">Guardar</button>
        </div>

    </div>

</form>