<div class="app has-fullwidth">
    <app-header></app-header>

    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </main>
</div>